@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

.recipe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Table {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px;
}

.Food-title {
  font-size: 40pt;
  font-family: "Dosis", sans-serif;
}

.Advert {
  width: 400px;
  text-align: right;
}

.clock {
  padding-right: 5px;
}

label {
  font-size: 25pt;
  background-image: linear-gradient(120deg, #ffffff 0%, #e7e3e5 100%);
}

tr {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}

th {
  margin-right: 20px;
  padding: 10px;
  background-image: linear-gradient(120deg, #ffffff 0%, #e7e3e5 100%);
  border-radius: 5px;
}

.Recipe-link {
  margin-right: 20px;
  padding: 10px;
  background-image: linear-gradient(120deg, #ffffff 0%, #e7e3e5 100%);
  border-radius: 5px;
}

dl {
  font-family: "Dosis", sans-serif;
  font-size: 15pt;
  font-weight: bold;
  color: rgb(58, 58, 58);
  text-align: left;
}
